{% extends "base.html"%}
{%block contenido%}
<a href="{% url 'añadirequipo' %}">Insertar Equipos</a>
<br>
<a href="{% url 'proveedores' %}">Ver proveedores</a>
<br>
<a href="{% url 'equipoalmacenados' %}">Actualizar</a>
<ul>
    {% for d in lista_equipos %}
    <li>
        {{d.modelo}}-----{{d.numeroserie}}  <a href="{% url 'equipos' d.id %}">Detalles</a>
        <a href="{% url 'editarequipo' d.id %}">Editar</a>
        <a href="{% url 'equipodelete' d.id %}" onclick="return confirm('Seguro que quieres borrar a {{equipo.modelo}}? );">
            Borrar </a>
    </li>
    {% endfor %}
</ul>



{%endblock%}
