{% extends "base.html"%}
{%block contenido%}

<a href="{% url 'ticketadd'%}"><i class="far fa-file"></i>Nuevo ticket</a>
<br>
<a href="{% url 'urgencias'%}"><i class="fas fa-bell"></i>tickets urgentes</a>
<br>
<button id="prueba3" >Visualizar tickets</button>
<br><br>
<h6>LISTADO DE TICKETS:</h6>
<ul id="tickets">
    {% for d in ticket_list %}
    <li>
        {{d.titulo}}, Nº Referencia: {{d.numeroref}}
        <a href="{% url 'ticket' d.id %}"><i class="fas fa-eye"></i> Detalles</a>
        <a href="{% url 'ticketedit' d.id %}" }><i class="far fa-edit"></i> Editar</a>
        <a href="{% url 'ticketdelete' d.id %}" }><i class="fas fa-trash-alt"></i> Eliminar</a>
    </li>
    {% endfor %}
</ul>

<br>

<a id="volver" href='http://127.0.0.1:8000/proyecto_colaborativo/inicio'><i class="fas fa-long-arrow-alt-left"></i> Volver</a>
<script src="/static/js/ticket.js"></script>
{%endblock%}

